<div class="container container-show">
  <h1><%= @song.title %></h1>
  <div class="top-part">
    <div class="video flex-item">
      <iframe width="560" height="315" src="<%= @song.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="infos flex-item">

    </div>
  </div>

  <div class="lyrics">
    <div class="row">
      <div class="col-sm">
        <h4>Original lyrics</h4>
        <pre><%= @song.lyrics_original %></pre>
      </div>
      <div class="col-sm">
        <h4>Translated lyrics</h4>
        <pre><%= @song.lyrics_translated %></pre>
      </div>
    </div>

    <%= link_to 'Back to songs', songs_path, class: "btn btn-lg btn-primary" %>
    <% if policy(@song).edit? %>
      <%= link_to 'Edit info', edit_song_path(@song), class: "btn btn-lg btn-primary" %>
    <% end %>

    <% if policy(@song).destroy? %>
      <%= link_to 'Remove song', song_path(@song), method: :delete, class: "btn btn-lg btn-danger"  %>
    <% end %>
  </div>




</div>
