<div class="container">
  <h1><%= @song.title %></h1>


  <iframe width="560" height="315" src="<%= @song.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  <p>Original lyrics</p>
  <p><%= @song.lyrics_original %></p>

  <p>Translated lyrics</p>
  <p><%= @song.lyrics_translated %></p>

  <%= link_to 'Back to songs', songs_path %>

</div>
